.classpath
.settings
.project
target/
bin/
/target/ 
/log.txt
.idea/
*.iml
/*.iml
/*/.idea/
/*/.gradle/
/*/build/
/*/out/
/*/.classpath
/*/.settings
/*/.project
/*/target/
/*/bin/
/*/target/
/*/*.iml


